body {
    background-color: rgb(17, 21, 41);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainGameScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 90vh;
    height: 90vh;
    background-image: url("main.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#display {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 10vh;
    width: 60vh;
    background-color: rgba(0, 0, 0, 0.767);
    color: rgba(37, 255, 110, 0.884);
    font-family: monospace;
    padding: 1em;
}
#selectionBox {
    justify-content: space-evenly;
    margin-bottom: auto;
}
.selection {
    padding: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    background-color: rgb(17, 21, 41);
    color: aliceblue;
}

#footer {
    margin-top: auto;
}

#scoreBoard {
    font-size: x-large;
}
#story {
    margin-top: auto;
    font-size: larger;
}